<!DOCTYPE html>
<meta charset="utf-8">
<style>

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

var width = 960,
    height = 960;

var projection = d3.geo.mercator()
    .scale((width + 1) / 2 / Math.PI)
    .translate([width / 2, height / 2])
    .precision(.1);

var path = d3.geo.path()
    .projection(projection);

var graticule = d3.geo.graticule();

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("path")
    .datum(graticule)
    .attr("class", "graticule")
    .attr("d", path);

//svg.append('svg:circle')
//    .attr("transform", function(d) {
//        return "translate(" + projection([0,0]) + ")";
//    })
//    .attr('r', 5).style("fill", "red");
//
//svg.append('svg:circle')
//    .attr("transform", function(d) {
//        return "translate(" + projection([180,0]) + ")";
//    })
//    .attr('r', 20).style("fill", "red");
//
//svg.append('svg:circle')
//    .attr("transform", function(d) {
//        return "translate(" + projection([126,-33.8412203204768]) + ")";
//    })
//    .attr('r', 20).style("fill", "red").style("opacity", "0.5");

function pixeloffset(latitude, longitude) {
    var earth_radius_meters = 2 * Math.PI * 6378137 / 2.0;
    y = ((longitude + earth_radius_meters) / (2 * earth_radius_meters)) * height;
    x = ((latitude + earth_radius_meters) / (2 * earth_radius_meters)) * width;
    return [x, y];
};

d3.json("wmts_usage", function(wmts_usage_stats) {
    svg.selectAll("circle")
        .data(wmts_usage_stats.points)
    .enter()
        .append("circle")
            .attr('r', function(d) {return Math.sqrt(d.point.count)})
            .style("fill", "red")
            .style("opacity", "0.5")
            .attr("transform", function(d) {
                //return "translate(" + projection([(d.point.longitude / map_size_meters) * height, (d.point.latitude / map_size_meters) * width]) + ")";
                //return "translate(" + pixeloffset(d.point.latitude, d.point.longitude) + ")";
                return "translate(" + projection([d.point.longitude, d.point.latitude]) + ")";
            });
//            .text(function(d) {return "num=" + d.point.count});
//        .append("circle")
//            .attr("transform", function(d) {
//                return "translate(" + projection([126,-33.8412203204768]) + ")";
//            })
//            .attr('r', 20).style("fill", "red").style("opacity", "0.5");

});

d3.json("static/world110.json", function(error, world) {
  svg.insert("path", ".graticule")
      .datum(topojson.feature(world, world.objects.ne_110m_land))
      .attr("class", "land")
      .attr("d", path);
});

d3.select(self.frameElement).style("height", height + "px");

</script>
